body{
    color: #2D383A;
    background-color: #4997D0;
    width:100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.block {
    width: 800px;
    background-color: #C8C8CD;
    border: 1px solid #A9B2C3;
    box-shadow: 0 0 2px 1px #A9B2C3;
    padding: 10px;
    margin: 20px auto;
}

.center {
    text-align: center;
}

.login label {
    width: 70px;
    display: inline-block;
}

.login input {
    width: 150px;
    border: #A9B2C3;
    box-shadow: 0 0 2px 1px #A9B2C3;
    color: #2D383A;
    font-size: 10pt;
    padding: 2px;
}

ul#main {
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
}

ul#main input {
    border: 2px solid #2D383A;
    color: #2D383A;
    background: none;
    font-family: 'PT Sans Narrow', sans-serif;
}

li.event {
    width: 800px;
    display: block;
}

li.event > .date {
    display: inline-block;
    border: 1px solid #A9B2C3;
    box-shadow: 0 0 2px 1px #A9B2C3;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align:center;
    background-color: white;
}

li.event > .date > h2 { margin: 5px; }

.main {
    width: 630px;
    margin-left: 20px;
    display: inline-block;
}

.main h1 {
    margin: 0;
    width: 100%;
    font-size: 36pt;
    display: inline-block;
}

.main h1 input {
    font-weight: bold;
    background: none;
    border-radius: 5px;
    width: 400px;
    font-size: 36pt;
}

.main h2 {
    margin: 0;
    width: 100%;
    font-size: 24pt;
}

.main p {width: 100%; display: inline-block;}
.main .info > time { margin-right: 5px; display: inline-block; }
.main .info > time > input {
    border-width: 1px;
    font-weight: bold;
    border-radius: 1px;
    width: 50px;
}

.participants > ul {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.participants > ul li {
    display: inline;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 15px;
}

.participants > ul button {
    margin: 5px;
    font-size: 8pt;
}

.participants > ul input {
    font-weight: bold;
    border: 2px solid white !important;
    border-radius: 5px;
    color: white !important;
    padding: 2px;
    margin: 5px;
    font-size: 10pt;
}

.participant-yes {
    background-color: #3AA655;
}

.participant-maybe {
    background-color: #0066CC;
}

.participant-probably {
    background-color: #FF681F;
}

button {
    background-color: #4997D0;
    color: white;
    border: 1px #3b7ba8 solid;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #A9B2C3;
}

button:hover {
    background-color: #3b7ba8;
}

button:active {
    background-color: #45add8;
}

button.del {
    background-color: #d04948;
    border-color: #a84a45;
    box-shadow: 0 0 2px 1px #c39394;
}

button.del:hover {
    background-color: #a84a45;
}

button.del:active {
    background-color: #d87a3c;
}

.edit-event {
    float: right;
    font-size: 20pt;
}

.add-event {
    text-align: center;
}

.add-event button {
    font-size: 16pt;
}